:root {
  --heading-color: #212121;
  --paragraph-color: #757575;
  --logo-blue: #2196f3;
  --logo-black: #000;
  --backgroun-color-white: #fff;
  --background-color-dark: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--paragraph-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.label {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-black);
  text-decoration: none;
}

.blue-label {
  color: var(--logo-blue);
}

.navigation a,
.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.navigation a {
  color: var(--logo-black);
}

.contacts a {
  color: var(--paragraph-color);
}

.navigation a:hover,
.navigation a:active,
.contacts a:hover,
.contacts a:active {
  color: var(--logo-blue);
}

.list {
  list-style: none;
}

.dark-background {
  background-color: var(--background-color-dark);
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  background-color: var(--logo-blue);
}

.hidden-heading {
  visibility: hidden;
}

.special-section-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--heading-color);
}
.special-section-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(var(--paragraph-color));
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #000;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--heading-color);
}

.team-job {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--paragraph-color);
}

.label-footer {
  color: #fff;
}

.address,
.mail-phone a {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
}

.mail-phone a {
  color: rgba(255, 255, 255, 0.6);
}
